{
    "extends": "eslint",

    "env": {
        "browser": true,
        "node": true
    },

    "ecmaFeatures": {
        "arrowFunctions": true,
        "binaryLiterals": true,
        "blockBindings": true,
        "classes": true,
        "defaultParams": true,
        "destructuring": true,
        "forOf": true,
        "generators": true,
        "modules": true,
        "objectLiteralComputedProperties": true,
        "objectLiteralDuplicateProperties": true,
        "objectLiteralShorthandMethods": true,
        "objectLiteralShorthandProperties": true,
        "octalLiterals": true,
        "regexUFlag": true,
        "regexYFlag": true,
        "restParams": true,
        "spread": true,
        "superInFunctions": true,
        "templateStrings": true,
        "unicodeCodePointEscapes": true
    },

    "rules": {
        "comma-dangle": [2, "always-multiline"],
        "curly": 0,
        "no-new": 0,
        "space-before-function-paren": [2, {"anonymous": "always", "named": "never"}],
        "strict": [2, "never"],
    }
}
